<template>


    <div>
       <!-- **** Formulario Cadastrar Processo **** -->

             <form >
                <v-text-field
                v-model="itemAdvogado.oab"
                :error-messages="nameErrors"
    
                label="NUMERO DA OAB"
                required
                @input="$v.itemAdvogado.oab.$touch()"
                @blur="$v.itemAdvogado.oab.$touch()"
                prepend-icon="mdi-apps-box"
                ></v-text-field>

                <v-text-field
                v-model="itemAdvogado.nome"
                :error-messages="nomeErrors"
    
                label="NOME"
                required
                @input="$v.itemAdvogado.nome.$touch()"
                @blur="$v.itemAdvogado.nome.$touch()"
                 prepend-icon="mdi-account-tie"
                ></v-text-field>

                <v-text-field
                v-model="itemAdvogado.endereco"
                :error-messages="nameErrors"
    
                label="ENDEREÇO"
                required
                @input="$v.itemAdvogado.endereco.$touch()"
                @blur="$v.itemAdvogado.endereco.$touch()"
                prepend-icon="mdi-home-account"
                ></v-text-field>


                 <v-text-field
                v-model="itemAdvogado.telefone"
                :error-messages="nameErrors"
                v-mask="['(##) ####-####', '(##) #####-####']"
                label="TELEFONE"
                required
                @input="$v.itemAdvogado.telefone.$touch()"
                @blur="$v.itemAdvogado.telefone.$touch()"
                prepend-icon="mdi-phone-classic"
                ></v-text-field>

                <v-text-field
                v-model="itemAdvogado.email"
                :error-messages="nameErrors"
                label="E-MAIL"
                required
                @input="$v.itemAdvogado.email.$touch()"
                @blur="$v.itemAdvogado.email.$touch()"
                prepend-icon="mdi-gmail"
                ></v-text-field>

 

                <v-btn class="mr-4" >submit</v-btn>
    
            </form>

            <app-telamenu></app-telamenu>
       
    </div>
</template>


<script>
   
 
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'
  import TelaMenu from '../components/TelaMenu.vue'

  export default {
    mixins: [validationMixin],

    validations: {
        itemAdvogado: {
            oab: {required},
            nome: { required }, 
            endereco: {required},
            telefone: {required},
            email: {required}
            

        }
      
    },

    data()  {
        return{
            cadastar: false,
            contador: 2,
            id:'',
            
            itemAdvogado :{
                oab: '', nome: '', endereco: '', telefone: '', email: ''
            },
            
        }  
    },

     components: {
        'app-telamenu':TelaMenu
    },

    computed: {
     
      
       oabErrors () {
        const errors = []
        if (!this.$v.itemAdvogado.oab.$dirty) return errors
        !this.$v.itemAdvogado.oab.required && errors.push('Name is required.')
        return errors
        
      },
      nomeErrors () {
        const errors = []
        if (!this.$v.itemAdvogado.nome.$dirty) return errors
        
        !this.$v.itemAdvogado.nome.required && errors.push('Name is required.')
        return errors
        
      },
       enderecoErrors () {
        const errors = []
        if (!this.$v.itemAdvogado.nprocesso.$dirty) return errors
        !this.$v.itemAdvogado.nprocesso.required && errors.push('Name is required.')
        return errors 
      },
       telefoneErrors () {
        const errors = []
        if (!this.$v.itemAdvogado.telefone.$dirty) return errors
        !this.$v.itemAdvogado.telefone.required && errors.push('Name is required.')
        return errors 
      },
       emailErrors () {
        const errors = []
        if (!this.$v.itemAdvogado.email.$dirty) return errors
        !this.$v.itemAdvogado.email.required && errors.push('Name is required.')
        return errors 
      },
        

     
    },

    methods: {


      submit () {
        
        if(this.$v.itemAdvogado.oab.required ){
            this.cadastar = true

        }
        this.$v.$touch()

        this.axios.get(`http://10.102.16.166:3000/api/advogados/oab/${this.itemAdvogado.oab}`)
          .then(res => {
              this.itemAdvogado.oab = res.data.oab
              this.itemAdvogado.nome = res.data.nome
              this.itemAdvogado.endereco = res.data.endereco
              this.itemAdvogado.telefone = res.data.telefone
              this.itemAdvogado.email =res.data.email
              this.id = res.data.id
              this.$emit('idAdvogado', this.id)
             
          })
          .catch(e =>{
              console.log(e.response);
          })


        
      },




      adicionar() {
        if(this.$v.$invalid){
          return;
        }
          this.$v.$touch()
          this.contador ++
          this.$emit('contador', this.contador)
          this.$emit('nomeAdvogado', this.itemAdvogado.nome)

          this.axios.post('http://10.102.16.166:3000/api/advogados/',this.itemAdvogado)
          .then(res =>{

            
          
          
          
          if(this.id === ''){
            this.id = res.data.id
            this.$emit('idAdvogado', this.id)
            console.log(this.id)

          }


          
          })
          .catch(e =>{
            console.log(e.response);
          })
      }
      
    },
  }
</script>