<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">

              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Entrar</v-toolbar-title>
                <v-spacer />
              </v-toolbar>

              <v-card-text>
                <v-form>
                  

                  <v-text-field v-model="name" :error-messages="nameErrors"  label="Login" required @input="$v.name.$touch()"
                     @blur="$v.name.$touch()" prepend-icon="mdi-account-key" type="text"></v-text-field>

                  <v-text-field v-model="email" :error-messages="emailErrors" label="Password" name="password"  required @input="$v.email.$touch()" prepend-icon="mdi-lock-open" type="password"/>
                </v-form>

              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="submit">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
      name: { required },
      email: { required },
      
      
    },

    data() {
      return{
        name: '',
        email: '',
      }
      
      
      
      
    },

    computed: {
      
     
      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
    },

    methods: {
      submit () {
        this.$v.$touch()
      },
      
    },
  }
</script>

