<template>

  <b-container fluid>
    
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Sort"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
              <template v-slot:first>
                <option value="">-- none --</option>
              </template>
            </b-form-select>
            <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>

     

      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

    

      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
     
    >
      <template v-slot:cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template v-slot:cell(actions)="row">
        
        <b-button size="sm" @click="row.toggleDetails">
          {{ row.detailsShowing ? 'Esconder' : 'Mostrar' }} Detalhes
        </b-button>
      </template>



      <template  v-slot:row-details="row">
        

        <div  >
            <b-table-simple hover small caption-top stacked>
              
              <colgroup><col><col></colgroup>
              <colgroup><col><col><col></colgroup>
              <colgroup><col><col></colgroup>
              <b-thead head-variant="dark">
                
              
              </b-thead>
              <b-tbody>
                <b-tr>
                  <!-- 
                  <b-th rowspan="3" class="text-center">Numero do Processo {{ row.item.documento }}</b-th>
                  -->
                 
                  <b-td stacked-heading="Documento:" variant='success' >{{ row.item.documento }}</b-td>
                  <b-td stacked-heading="Autor:" variant="success">{{ row.item.autor }}</b-td>
                  <b-td stacked-heading="Reu:" variant="success">{{ row.item.reu }}</b-td>
                  <b-td stacked-heading="Classe:" variant="success">{{ row.item.classe }}</b-td>
                  <b-td stacked-heading="Volumes:" variant="success">{{ row.item.volumes }}</b-td>
                  <b-td stacked-heading="Apensos:" variant="success">{{ row.item.apensos }}</b-td>
                  <b-td stacked-heading="Data Cadastro:" variant="success">{{ row.item.data_cadastro }}</b-td>
                   <b-td stacked-heading="Ativo:" variant="success">{{ row.item.ativo }}</b-td>
                
                  

                  
                </b-tr>
                
              
              
              
              </b-tbody>
            
            </b-table-simple>
        </div>





      </template>


    </b-table>

    <b-col sm="7" md="4" class="my-5 " >
        <b-pagination
          v-model="currentPage"
          :total-rows=this.items.length
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>

    <!-- Info modal -->
    <app-telamenu></app-telamenu>
   
  </b-container>
  
  
</template>


<script>
import TelaMenu from '../components/TelaMenu.vue'
  export default {
    data() {
      return {
          x: {},
        items: [
            { documento:0,   autor: '', reu: '', q:''},

        ],

        fields: [
          { key: 'documento', label: 'Numero Processo', sortable: true, class: 'text-center' },
          { key: 'autor', label: 'Autor', sortable: true, sortDirection: 'desc' },
          { key:'reu', label:'Réu'},


          {
            key: 'isActive',
            label: 'is Active',
            formatter: (value) => {
              return value ? 'Yes' : 'No'
               
            },
            sortable: true,
            sortByFormatted: true,
            filterByFormatted: true
          },
          { key: 'actions', label: 'Actions' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: [],
       
      }
    },
    created(){
      this.listaProcesso();
      

    },
    components: {
        'app-telamenu':TelaMenu
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.items.length
    },
    methods: {
      
      

      listaProcesso(){
        this.axios.get('http://10.102.16.166:3000/api/processos')
        .then( res => {
          console.log(res.data);
          this.items = res.data;
          console.log( 'esteaqui '+this.items.length)
        })
        .catch(e => { 
          console.log(e);
        })
        
      },
      
    }
  }
</script>