<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">VERIFICAR PROCESSO </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">VERIFICAR ADVOGADO:</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">CONTROLE DE CARGA</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>

      <v-stepper-content step="1">
        <v-card class="mb-12"  height="500px">

             <v-container  >
              
              <v-row no-gutters justify="center">
                <v-col lg="10" >
                  <v-card class="pa-2" outlined tile>
                      <!--#######FORMULARIO  PROCESSO-->

                        <app-processo @contador="e1 = $event" @envnome="documento1 = $event" @idprocesso=" idprocesso=$event"></app-processo>

                       <!-- ######### FORMULARIO PROCESSO-->
                   
                  </v-card>
                </v-col>
              </v-row>
            </v-container>

        </v-card>
        
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card class="mb-12"  height="450px">


            <v-container  >
              
              <v-row no-gutters justify="center">
                <v-col lg="10" >
                  <v-card class="pa-2" outlined tile>
                      <!--#######FORMULARIO  ADVOGADO-->

                        <app-advogado @contador="e1 = $event" @nomeAdvogado="nomeadvogado = $event"  @idAdvogado="idadv = $event"></app-advogado>

                       <!-- ######### FORMULARIO ADVOGADO-->
                   
                  </v-card>
                </v-col>
              </v-row>
            </v-container>


        </v-card>
        
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card class="mb-12"  height="450px">

             <v-container  >
              
              <v-row no-gutters justify="center">
                <v-col lg="10" >
                  <v-card class="pa-2" outlined tile>
                      <!--#######FORMULARIO  ADVOGADO-->

                          <form >
                            <v-text-field
                            
                            v-model="documento1"
                           
                            label="NUMERO DO PROCESSO"
                            required
                            disabled
                            @input="$v.itemProcesso.nprocesso.$touch()"
                            @blur="$v.itemProcesso.nprocesso.$touch()"
                            jailson
                            ></v-text-field>

                            <v-text-field
                            
                            v-model="nomeadvogado"
                            label="NOME RESPONSAVEL"
                            disabled
                            required
                            @input="$v.itemProcesso.nprocesso.$touch()"
                            @blur="$v.itemProcesso.nprocesso.$touch()"
                            ></v-text-field>

                            <v-text-field
                            v-model="itemCarga.data_devolucao"
                            v-mask="['##/##/####']"
                            label="DATA devolução"
                            required
                            @input="$v.itemProcesso.nprocesso.$touch()"
                            @blur="$v.itemProcesso.nprocesso.$touch()"
                            ></v-text-field>


                            <v-text-field
                            v-model="itemCarga.data_atualizacao"
                            v-mask="['##/##/####']"
                            label="DATA Atualização"
                            required
                            @input="$v.itemProcesso.nprocesso.$touch()"
                            @blur="$v.itemProcesso.nprocesso.$touch()"
                            ></v-text-field>
                            <v-btn class="mr-4" @click="adicionar" >submit</v-btn>
    
                        </form>
                        
                        <span> {{'id advogado'+ idadv + '...'}} {{'id processo'+ idprocesso}}</span>

                       <!-- ######### FORMULARIO ADVOGADO-->
                   
                  </v-card>
                </v-col>
              </v-row>
            </v-container>

        </v-card>        
      </v-stepper-content>


    </v-stepper-items>
  </v-stepper>
</template>

<script>
import processo from '@/components/Processo'
import advogado from '@/components/Advogado'
  export default {
    data () {
      return {
        e1: 1,
       
        documento1:'',
        nomeadvogado: '',
        idprocesso: '',
        idadv: '',
       
       
        
        itemCarga :{
            data_devolucao: '',data_atualizacao: '', processo: this.idprocesso , cadastrado_por: '1',responsavel:this.idadv,   
            
        },
        
      }
    },
    components: {
        'app-processo': processo,
        'app-advogado': advogado
  
    },
    methods: {
      adicionar() {
        if(this.$v.$invalid){
          return;
        }
          this.$v.$touch()
          this.contador ++
          this.$emit('contador', this.contador)
          this.$emit('nomeAdvogado', this.itemAdvogado.nome)

          this.axios.post('http://10.102.16.166:3000/api/movimentacoes/',this.itemCarga)
          .then(res =>{


            this.id = res.data.id
            

          


          
          })
          .catch(e =>{
            console.log(e.response);
          })
      }


    }
  }
</script>