<template>
    <div>
        <!-- **** Formulario Pesquisar Processo **** -->
         <form  @submit.prevent="addProcesso()" v-if="!cadastar">
            <v-text-field
            v-model="itemProcesso.documento"
            :error-messages="documentoErrors"
            :counter="4"
            v-mask="['#######-##.####.#.##.####' , '####.##.##.##.#####']"
            label="NUMERO DO DOCUMENTO"
            required
            @input="$v.itemProcesso.documento.$touch()"
            @blur="$v.itemProcesso.documento.$touch()"
            prepend-icon="mdi-folder"
            ></v-text-field>

            <v-btn class="mr-4" @click="submit">submit</v-btn>
    
        </form>
        <!-- **** Formulario Pesquisar Processo **** -->



        <!-- **** Formulario Cadastrar Processo **** -->

             <form  v-if="cadastar">
                <v-text-field
                v-model="itemProcesso.documento"
                :error-messages="documentoErrors"
                label="NUMERO DO DOCUMENTO"
                required
                @input="$v.itemProcesso.documento.$touch()"
                @blur="$v.itemProcesso.documento.$touch()"
                prepend-icon="mdi-folder"
                ></v-text-field>

                <v-text-field
                v-model="itemProcesso.autor"
                :error-messages="autorErrors"
                label="AUTOR"
                required
                @input="$v.itemProcesso.autor.$touch()"
                @blur="$v.itemProcesso.autor.$touch()"
                prepend-icon="mdi-account-tie"
                ></v-text-field>

                <v-text-field
                v-model="itemProcesso.reu"
                :error-messages="reuErrors"
                label="REU"
                required
                @input="$v.itemProcesso.reu.$touch()"
                @blur="$v.itemProcesso.reu.$touch()"
                prepend-icon="mdi-account-tie-voice"
                ></v-text-field>


                 <v-text-field
                v-model="itemProcesso.classe"
                :error-messages="classeErrors"
                label="CLASSE"
                required
                @input="$v.itemProcesso.classe.$touch()"
                @blur="$v.itemProcesso.classe.$touch()"
               prepend-icon="mdi-shield-check"
                ></v-text-field>

                <v-text-field
                v-model="itemProcesso.volumes"
                :error-messages="volumesErrors"
                label="VOLUME"
                type="number"
                required
                @input="$v.itemProcesso.volumes.$touch()"
                @blur="$v.itemProcesso.volumes.$touch()"
                prepend-icon="mdi-file-replace"
                ></v-text-field>

                <v-text-field
                v-model="itemProcesso.apensos"
                :error-messages="apensosErrors"
                label="APENSO"
                type="number"
                required
                @input="$v.itemProcesso.apensos.$touch()"
                @blur="$v.itemProcesso.apensos.$touch()"
                prepend-icon="mdi-file"
                ></v-text-field>

              
            
                
                

                <v-btn class="mr-4" @click="adicionar">submit</v-btn>
    
            </form>
       
        <!-- **** Formulario Cadastrar Processo **** -->



    </div>
</template>


<script>
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
        itemProcesso: {
            documento: { required},
            autor:{ required},
            reu:{ required},
            classe:{ required},
            volumes: { required},
            apensos: { required}

        }
      
    },

    data()  {
        return{
            cadastar: false,
            contador: 1,
            idproc: '',
            itemProcesso :{ documento: '', autor: '',reu:'',classe:'',volumes:'', apensos: '0'},
            
        }  
    },

    computed: {
      documentoErrors () {
        const errors = []
        if (!this.$v.itemProcesso.documento.$dirty) return errors
        
        !this.$v.itemProcesso.documento.required && errors.push('Numero do documento é required.')
        return errors 
      },
      autorErrors () {
        const errors = []
        if (!this.$v.itemProcesso.autor.$dirty) return errors
        
        !this.$v.itemProcesso.autor.required && errors.push('Numero do autor é requerido.')
        return errors 
      },
       reuErrors () {
        const errors = []
        if (!this.$v.itemProcesso.reu.$dirty) return errors
        
        !this.$v.itemProcesso.reu.required && errors.push('Numero do documento é required.')
        return errors 
      },
       classeErrors () {
        const errors = []
        if (!this.$v.itemProcesso.classe.$dirty) return errors
        
        !this.$v.itemProcesso.classe.required && errors.push('Numero do documento é required.')
        return errors 
      },
       volumesErrors () {
        const errors = []
        if (!this.$v.itemProcesso.volumes.$dirty) return errors
       
        !this.$v.itemProcesso.volumes.required && errors.push('Numero do documento é required.')
        return errors 
      },
       apensosErrors () {
        const errors = []
        if (!this.$v.itemProcesso.apensos.$dirty) return errors
        
        !this.$v.itemProcesso.apensos.required && errors.push('Numero do documento é required.')
        return errors 
      },
        

     
    },

    methods: {
      submit () {
        
        if(this.$v.itemProcesso.documento.required){
            this.cadastar = true
        }
        this.$v.$touch()

        this.axios.get(`http://10.102.16.166:3000/api/processos/documento/${this.itemProcesso.documento}`)
          .then(res => {
              this.itemProcesso.documento = res.data.documento
              this.itemProcesso.autor = res.data.autor
              this.itemProcesso.reu = res.data.reu
              this.itemProcesso.classe = res.data.classe
              this.itemProcesso.volumes =res.data.volumes
              this.itemProcesso.apensos = res.data.apensos
              this.idproc = res.data.id
              this.$emit('idprocesso', this.idproc)
              
          })
          .catch(e =>{
              console.log(e.response);
          })
        
      },
      adicionar() {

        if(this.$v.$invalid){
          return;
        }


          this.$v.$touch()

          this.contador++
          this.$emit('contador', this.contador)
          this.$emit('envnome', this.itemProcesso.documento)
          
          this.axios.post('http://10.102.16.166:3000/api/processos/',this.itemProcesso)
          .then(res =>{
          
          if(this.idproc === ''){
            this.idproc = res.data.id
            this.$emit('idprocesso', this.idproc)
            console.log(this.idproc)

          }
          
          
          })
          .catch(e =>{
            console.log(e.response);
          })
      },
      
      
    },
  }
</script>