<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>

        <v-list-item link to="/about">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/cadastrarUsuario">
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Cadastrar Usuario</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


        
        <v-list-item link to="/listaProcesso">
          
          <v-list-item-action>
            <v-icon>mdi-file-document-edit</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Listar Processo</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


         <v-list-item link to="/">
          
          <v-list-item-action>
            <v-icon>mdi-power-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sair</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        


        <v-list-item link @click.stop="drawer = !drawer" >
          <v-list-item-action>
            <v-icon>mdi-arrow-collapse-left</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> Fechar</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Controle de Carga</v-toolbar-title>
    </v-app-bar>
   

    

      

    
  </v-app>
</template>

<script>

  export default {
    props: {
      source: String,
    },
    data (){
      return{
        drawer: null
      }
      
    },
   
  }
</script>